$black-normal: #0d0e10;
$black-dark: #050607;
$black-light: #15171a;

$white-normal: #f5f7f7;
$white-dark: #edeff0;
$white-light: #fafcfc;

$blue-normal: #2DC7ED;
$blue-dark: #15AED4;
$blue-light: #4DDCFF;

$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

.color-gray{
    color: $gray-1;
}